---
import type { PostsResult } from "../../../../sanity.types";
import Layout from "../../../layouts/Layout.astro";
import { getPosts } from "../../../utils/groqQueries";
import { urlFor } from "../../../utils/utils";

const limit = 10;

// Generate paths for pagination
export async function getStaticPaths() {
  const limit = 10;
  const totalPosts = await getPosts(0, Number.MAX_SAFE_INTEGER);
  const totalPages = Math.ceil(totalPosts.length / limit);

  const paths = Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));

  return paths;
}

// Get the current page from params
const { page } = Astro.params;
const currentPage = Number(page) || 1;

const start = (currentPage - 1) * limit;

// Fetch posts for the current page
const posts = await getPosts(start, limit);

// Utility to check if a post has a valid slug
function hasValidSlug(
  post: PostsResult
): post is PostsResult & { slug: { current: string } } {
  return post?.slug !== undefined && post?.slug.current !== undefined;
}

// Check if there's a next page
const hasNextPage = posts.length === limit;
---

<Layout title={"Blog Posts"}>
  <div class="blog-posts">
    {
      posts.filter(hasValidSlug).map((post) => (
        <div class="post">
          <div class="post-image-container">
            <img
              class="post-image"
              src={
                post.mainImage?.asset
                  ? urlFor(post.mainImage.asset).url()
                  : "/DallasBicycleCoalition_Badge_only.png"
              }
              alt={post.mainImage?.altText || "Default image"}
            />
          </div>
          <div>
            <p id="post-date">{new Date(post._createdAt).toLocaleDateString('en-US', {
              month: 'long', day: 'numeric', year: 'numeric'
            })}</p>
            <h2>
              <a id="post-title" href={`/blog/post/${post?.slug?.current}`}>{post?.title}</a>
            </h2>
            <p id="post-content">{post.excerpt}</p>
          </div>
        </div>
        <hr class="post-separator" />
      ))
    }
  </div>
  <div class="pagination">
    {
      currentPage > 1 && (
        <a href={`/blog/page/${currentPage - 1}`}>&laquo; Previous</a>
      )
    }
    {hasNextPage && <a href={`/blog/page/${currentPage + 1}`}>Next &raquo;</a>}
  </div>
</Layout>

<style>
  /* General layout styling */
  .blog-posts {
    width: 80em;
    margin: 2em auto 0;
  }

  div.post:nth-child(1) > div:nth-child(2) {
    margin-top: 2em;
  }

  .post {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  /* Image styling */
  .post-image-container {
    flex-shrink: 0;
  }

  .post-image {
    width: 525px;
    height: 325px;
    object-fit: contain;
    border-radius: 8px;
  }

  /* Post content styling */
  #post-date {
    color: #cd011c;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  #post-title {
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
  }

  #post-content {
    width: 35em;
    font-size: larger;
  }

  /* Separator styling */
  .post-separator {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 4em;
  }
</style>
