---
import Layout from "../layouts/Layout.astro";
import TagsFilterDropdown from "../components/DropdownFilter.astro";
import { getEventsPage, getTags } from "../utils/groqQueries";
import { toHTML } from "@portabletext/to-html";

const eventsFromSanity = await getEventsPage();
const sanityTags = await getTags();

const events = eventsFromSanity.map((event) => ({
  ...event,
  description: event.description ? toHTML(event.description) : "",
}));

const tags = sanityTags.map((tag) => ({
  id: tag.id,
  name: tag.name,
}));
---

<Layout title="Event Calendar">
  <section id="calendar-section">
    {
      tags.length > 0 && (
        <div id="filter">
          <TagsFilterDropdown tags={tags} />
        </div>
      )
    }

    <div id="calendar"></div>
    <noscript>Calendar could not load. Please enable JavaScript.</noscript>
    <p id="error-message" style="color: red;"></p>
  </section>

  <div id="modal-overlay" class="modal-overlay">
    <div id="event-modal" class="event-modal">
      <h2 id="event-title"></h2>
      <div id="event-description"></div>
      <button id="close-modal">Close</button>
    </div>
  </div>
</Layout>

<!-- Define the events data globally for the client-side script -->
<script define:vars={{ events }} is:inline>
  window.events = events;
</script>

<script src="../scripts/fullCalendar.ts"></script>
