---
import Layout from "../layouts/Layout.astro";
import TagsFilterDropdown from "../components/DropdownFilter.astro";
import { getEventsPage, getTags } from "../utils/groqQueries";
import { toHTML } from "@portabletext/to-html";

const eventsFromSanity = await getEventsPage();
const sanityTags = await getTags();

const events = eventsFromSanity.map((event) => ({
  ...event,
  id: event._id,
  description: event.description ? toHTML(event.description) : "",
}));

const tags = sanityTags.map((tag) => ({
  id: tag.id,
  name: tag.name,
}));
---

<Layout title="Event Calendar">
  <section id="calendar-section">
    {
      tags.length > 0 && (
        <div id="filter">
          <TagsFilterDropdown tags={tags} />
        </div>
      )
    }

    <div id="calendar"></div>
    <noscript>Calendar could not load. Please enable JavaScript.</noscript>
    <p id="error-message" style="color: red;"></p>
  </section>

  <div id="modal-overlay" class="modal-overlay">
    <div id="event-modal" class="event-modal">
      <h2 id="event-title"></h2>
      <p id="event-date"></p>
      <p id="event-location"></p>
      <div id="event-description"></div>
      <button id="close-modal">Close</button>
    </div>
  </div>
</Layout>

<!-- Define the events data globally for the client-side script -->
<script define:vars={{ events }} is:inline>
  window.events = events;
</script>

<script src="../scripts/fullCalendar.ts"></script>

<style>
  #event-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* Ensure the modal doesn’t exceed the viewport height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable scrolling if content exceeds the max height */
    z-index: 1000;
  }

  #event-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  #event-description {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 20px;
  }

  #close-modal {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .event-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
  }

  #filter {
    margin-bottom: 1em;
  }
</style>
