---
import { PortableText } from "@portabletext/react";
import Layout from "../layouts/Layout.astro";
import { getDonatePage } from "../utils/groqQueries";

const donatePage = await getDonatePage();
---

<Layout>
  {
    donatePage ? (
      <>
        <section id="donate-intro-section" class="single-col">
          <div class="content">
            <div class="normal-copy">
              {donatePage.infoText && (
                <PortableText value={donatePage.infoText} />
              )}
            </div>
          </div>
        </section>

        <section id="donate-embed-section" class="single-col">
          <div data-fundraising-form="8NDR96EK" data-inline />
        </section>
      </>
    ) : (
      <section id="donate-intro-section" class="single-col">
        <div class="content">
          <h2>Donate</h2>
          <div class="normal-copy">Sorry, this page is unavailable.</div>
        </div>
      </section>
    )
  }

  <style>
    #donate-intro-section {
      padding: 3em;
      text-align: center;
      margin: 0 auto;
      max-width: 55em;
    }
    #donate-intro-section h2 {
      font-weight: bold;
      color: #cd011c;
      font-size: 1.5em;
      letter-spacing: 0.15em;
      margin-bottom: 1em;
    }
    .normal-copy {
      font-size: 1.15em;
      line-height: 1.5;
    }
    #donate-embed-section {
      padding: 2em 0;
      display: flex;
      justify-content: center;
    }
    .embed-container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
      background: #fff;
    }
    iframe {
      display: block;
      width: 100%;
      min-height: 400px;
      border: none;
    }
    @media screen and (max-width: 750px) {
      #donate-intro-section,
      #donate-embed-section {
        padding: 1.5em;
      }
      .normal-copy {
        font-size: 1em;
      }
      .embed-container {
        max-width: 100%;
      }
    }
  </style>
</Layout>
