---
import { PortableText } from "@portabletext/react";
import ReactCalendar from "../components/ReactCalendar/ReactCalendar";
import Layout from "../layouts/Layout.astro";
import {
  getSocialRideEventsPage,
  getSocialRidesPage,
} from "../utils/groqQueries";
import { getUniqueTagsFromEvents } from "../utils/utils";

const eventsFromSanity: any = await getSocialRideEventsPage();
const eventsArray = Array.isArray(eventsFromSanity)
  ? eventsFromSanity
  : eventsFromSanity && eventsFromSanity.events
    ? eventsFromSanity.events
    : [];
const sanityTags = getUniqueTagsFromEvents(eventsArray);

const socialRidesSingleton = await getSocialRidesPage();
const infoText = socialRidesSingleton?.infoText;
---

<Layout title="Social Rides Calendar">
  <section id="intro-section" class="single-col">
    <div class="content">
      <div class="normal-copy">
        {infoText && <PortableText value={infoText} />}
      </div>
    </div>
  </section>
  <section id="calendar-section" class="single-col">
    <div class="content">
      <ReactCalendar client:load events={eventsArray} tags={sanityTags} />
    </div>
  </section>
</Layout>

<style is:global>
  #calendar-wrapper {
    padding-top: 2em;
  }
  #intro-section {
    margin-top: 1em;
  }
</style>
