---
import ReactCalendar from "../components/ReactCalendar/ReactCalendar";
import Layout from "../layouts/Layout.astro";
import { getSocialRideEventsPage } from "../utils/groqQueries";
import { getUniqueTagsFromEvents } from "../utils/utils";

const eventsFromSanity: any = await getSocialRideEventsPage();
const eventsArray = Array.isArray(eventsFromSanity)
  ? eventsFromSanity
  : eventsFromSanity && eventsFromSanity.events
    ? eventsFromSanity.events
    : [];
const sanityTags = getUniqueTagsFromEvents(eventsArray);
---

<Layout title="Social Rides Calendar">
  <div>
    <ReactCalendar client:load events={eventsArray} tags={sanityTags} />
  </div>
</Layout>
<style is:global>
  #calendar-wrapper {
    padding-top: 2em;
  }
</style>
