<footer>
  <!-- Signup Link to the Email List -->
  <div class="footer-item">
    <a href="/signup" onclick="window.location.href='/signup'; return false;"
      >Join our Email List</a
    >
  </div>

  <div class="footer-item">
    <!-- GitHub Link -->
    <a
      href="https://github.com/DallasBicycleCoalition/DBC-Site"
      target="_blank"
    >
      View on GitHub
    </a>
  </div>
</footer>
