<footer>
  <!-- DBC Logo -->
  <div class="footer-logo">
    <img src="/DallasBicycleCoalition_Badge_only.png" alt="DBC Logo" />
  </div>

  <!-- Signup Link to the Email List and GitHub Link -->
  <div class="footer-links">
    <div class="footer-item">
      <a href="/signup" onclick="window.location.href='/signup'; return false;"
        >Join our Email List</a
      >
    </div>

    <div class="footer-item">
      <a
        href="https://github.com/DallasBicycleCoalition/DBC-Site"
        target="_blank"
      >
        View on GitHub
      </a>
    </div>

    <!-- Social Media Links -->
    <div class="footer-socials">
      <div class="footer-item">
        <a href="https://instagram.com/dallasbicyclecoalition" target="_blank">
          <img
            src="/Instagram_Glyph_Black.svg"
            alt="Instagram Logo"
          />
        </a>
      </div>

      <div class="footer-item">
        <a href="https://facebook.com/dallasbicyclecoalition" target="_blank">
          <img
            src="/facebook-logo-Black.png"
            alt="Facebook Logo"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
