<footer>
  <a href="https://github.com/DallasBicycleCoalition/DBC-Site">
    <a href="https://github.com/DallasBicycleCoalition/DBC-Site">
      <img
        src="https://img.shields.io/badge/View%20on%20Github-blue?style=social&logo=github"
        alt="View on GitHub"
      />
    </a>
  </a>
</footer>
