---
import imageUrlBuilder from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";
import { getLayout } from "../utils/sanity";

// Setup Sanity image builder
const projectId = import.meta.env.PUBLIC_SANITY_PROJECT_ID;
const dataset = import.meta.env.PUBLIC_SANITY_DATASET;

const builder = imageUrlBuilder({
  projectId: projectId,
  dataset: dataset,
});

// Generate image URLs
function urlFor(source: SanityImageSource) {
  return source ? builder.image(source).url() : "https://picsum.photos/500/500";
}

// Fetching layout data
const data = await getLayout();
---

<header>
  <a href={data?.landingPageLink || "/"}>
    {
      data?.logo && data.logo.asset && (
        <img src={urlFor(data.logo.asset)} alt={data.logo.altText || "Logo"} />
      )
    }
  </a>
  <nav>
    <a href="/calendar">Calendar</a>
    <a href="/blog">Blog</a>
  </nav>
</header>

<style>
  header {
    display: flex;
  }

  header nav {
    display: flex;
    align-content: center;
    justify-content: right;
    align-items: center;
    padding: 1em;
    flex: 1;
  }
</style>
