@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

/* Thanks: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ensure html and body take full height */
html,
body {
  display: flex;
  flex-direction: column;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button {
  line-height: 1.1;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure text areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* end reset */

/* Main content area should expand to fill available space */
main {
  flex: 1;
}

/* Page container width adjustments */
main,
header,
footer {
  margin: 0 6.25vw;
}

strong,
b {
  font-weight: 900;
}

body > header:nth-child(1) {
  background-color: #f8f7f5;
}

div.normal-copy p:not(:first-child):not(:-moz-first-node) {
  margin-top: 1em;
}

div.normal-copy p:not(:last-child):not(:-moz-last-node) {
  margin-bottom: 1em;
}

.normal-copy p {
  margin-bottom: 1em;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.two-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.two-cols > * {
  flex: 1;
  min-width: 15em;
}

.two-cols img {
  height: 100%;
  width: 100%;
}

.hero img {
  width: 100%;
}

/* Style for signup page, can't be put into a style block...*/
#can_embed_form form {
  display: grid !important;
  place-items: center;
}

.can_embed.v5 #can_embed_form h2 {
  display: flex;
  justify-content: center;
}

#can_embed_form:not(.full) #action_info {
  display: flex;
  justify-content: center;
}

.can_embed.form #can_embed_form_inner > h2 {
  border-bottom: 0px !important;
}

@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
  }

  .fc .fc-toolbar {
    align-items: center;
    justify-content: space-between;
    display: block;
  }

  .policy-table thead tr {
    display: none; /* Hide header */
  }

  .policy-table tr {
    margin-bottom: 1rem;
    border: 1px solid black; /* Black border around each box */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative; /* Position relative to allow for the pseudo-element */
  }

  .policy-table td {
    display: flex;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .policy-table td:before {
    content: attr(data-label);
    font-weight: bold;
    width: 100px;
    flex-shrink: 0;
    margin-right: 25px;
  }

  .policy-table tbody tr:not(:last-child) {
    margin-bottom: 2em; /* Add margin between rows */
    background-color: white;
  }

  .policy-table td:last-child {
    border-bottom: 1px solid #000000; /* Add a bottom border to rows */
  }

  /* New CSS for a continuous vertical line */
  .policy-table tr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 125px; /* Align with the data-label width */
    bottom: 0;
    width: 1px;
    background-color: black; /* The vertical line color */
  }

  /* Ensure calendar fits nicely on mobile */
  #calendar {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Adjust event modal on mobile for full-screen display */
  #event-modal {
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /* Ensure calendar view switches to a compact list */
  .fc-listMonth-view {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0 1em;
  }
  header {
    margin: 0em;
  }
}
